@use 'reset';
@use './variables' as *;
@use './function' as *;
@use './keyframe';

// * {
//     outline: 1px solid red;
// }

#lists {
    position: relative;

    nav {
        position: sticky;
        top: 0;
        z-index: 2;
        width: 100%;
        background: $b1;
        color: #fff;
        font-family: Genkai;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            li {
                font-size: 1.5rem;
                padding: 20px 15px;
                text-shadow: 0 0 0px $b1;
                transition: text-shadow 0.3s ease;
                cursor: pointer;

                &:hover {
                    text-shadow: 0 0 10px $y1,
                }

                &:active {
                    text-shadow: 0 0 15px $y1, 0 0 30px $y1;
                }
            }
        }
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: inherit;
        }


        @media (max-width:719px) {
            flex-direction: column;
            padding: 0 20px;

            h3 {
                font-size: 2.5rem;
                font-weight: 600;
            }
        }


        // 每張卡片不同背景顏色
        &:nth-child(2) {
            background: $y2;
            color: $b1;
        }

        &:nth-child(3) {
            background: $b1;
            color: #fff;
        }

        &:nth-child(4) {
            background: $b2;
            color: $b1;
        }

        &:nth-child(5) {
            background: $b1;
            color: #fff;
        }

        &:nth-child(6) {
            background: $y2;
            color: $b1;
        }

        .etitle {
            display: flex;
            padding: 0 20px;
            justify-content: center;
            align-items: flex-start;

            h2 {
                font-size: 6rem;
                padding-left: 25px;
                font-family: ToronoGlitchSerif-1;
                margin: 50px 0;
            }

            .t1 {
                border-left: 10px solid $b1;

            }

            .t2 {
                border-left: 10px solid $y1;
            }
        }

        .ecard {
            display: flex;
            justify-content: center;

            gap: 50px;
            margin-bottom: 50px;


            h3 {
                font-family: ToronoGlitchSerif-2;
            }

            .elink {
                display: flex;
                flex-direction: column;
                align-items: center;

                .btnBack {
                    cursor: pointer;
                    transition: transform 0.25s ease, box-shadow 0.25s ease;

                    &:hover {
                        transform: translateY(-4px);
                        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
                    }
                }

                // 第二個按鈕樣式(暗色)
                .b2 {
                    border: 0.6px solid rgba(255, 255, 255, 0.70);
                    background: rgba(255, 255, 255, 0.20);

                    &:hover {
                        transform: translateY(-4px);
                        box-shadow: 0 6px 12px rgba(255, 255, 255, 0.25);
                    }
                }

            }

            .content {
                max-width: 800px;
                width: 100%;

                p {
                    font-weight: 600;
                    @extend %multiple-lines;
                    -webkit-line-clamp: 5;
                    margin-top: 10px;
                    text-align: left;
                }
            }
        }
    }
}