@use 'reset';
@use './variables' as *;
@use './function' as *;
@use './keyframe';

// * {
//     outline: red 1px solid;
// }

// btn設定待更新
// .check {
//     transition: all 0.35s ease;
//     font-size: 1.25rem;
//     border-radius: 8px;
//     padding: 8px 16px;
//     background-color: $b1;
//     color: $b3;

//     &:hover {
//         filter: grayscale(40%) brightness(1.2);
//     }

//     &:active {
//         filter: grayscale(40%) brightness(1.2);
//     }

// }

.check {
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: $b1-80;
    color: $b3;
    transition: all 0.35s ease;
    cursor: pointer;
    z-index: 0;

    // 掃描線（預設隱藏）
    &::before {
        content: "";
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 200%;
        background: linear-gradient(to bottom,
                transparent 0%,
                rgba(255, 255, 255, 0.15) 50%,
                transparent 100%);
        opacity: 0;
        z-index: 1;
        pointer-events: none;
    }

    &:hover::before {
        opacity: 0.8;
        animation: scan 2s linear infinite;
    }

}

@keyframes scan {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}





// 共通設定
.test {
    h5 {
        position: relative;
        font-family: ToronoGlitchSerif-1;
        font-size: 2rem;
        color: #fff;
        padding-left: 16px;
        border-left: 5px solid $y1;
        margin-bottom: 30px;
    }

    p {
        color: $y2;
        font-size: 1.25rem;
    }
}


#testwrap {
    background-image: url(/home-select.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 900px;
}


.test {

    // 標題
    .test-subject {
        width: 100%;
        padding: 50px 0;
        color: #fff;
        background-color: #000;
        text-align: center;
        font-family: ToronoGlitchSerif-2;
    }

    // 題目
    .test-content {
        width: 60%;
        margin: 50px auto 0;
        padding: 40px;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.80);
        min-width: 400px;

        p {
            text-align: left;
            font-weight: 500;
        }
    }

    // 選擇題區
    .test-other {
        width: 60%;
        min-width: 400px;

        .cross {
            margin-top: 30px;
        }

        .select-box {
            margin-top: 50px;
            background: $b0-80;
            padding: 40px;
            border-radius: 16px;

            h5 {
                position: relative;
                font-size: 2rem;
                font-weight: normal;
                color: $b3;
                margin-bottom: 30px;


                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 20px;
                    left: -20px;
                    height: 15px;
                    background: linear-gradient(90deg, #FFCA00 0%, rgba(255, 255, 255, 0.50) 100%);

                }
            }

            // 選擇題按鈕
            .btnBox {
                display: flex;
                flex-direction: column;
                align-items: start;

                .btnSelect {
                    text-align: left;
                    font-size: 1.25rem;
                    background: transparent;
                    color: $b3;
                    border-radius: 8px;
                    padding: 10px 20px;
                    margin-bottom: 30px;
                    cursor: pointer;
                    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
                        box-shadow 0.4s ease;

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 1px 10px $b3-80;
                    }
                }

                .btnSelectActive {
                    background: linear-gradient(90deg, $b1 30%, $b2 100%);
                    color: #fff;
                    -webkit-text-fill-color: #fff;
                }

            }

        }

    }

    // 決策歷程
    .decision-history {
        width: 60%;
        margin-top: 50px;
        min-width: 400px;
        background: $b1-80;
        border-radius: 16px;
        padding: 40px;

        h5 {
            color: $b3;
            border-left-color: $y2;
        }

        .past-decision {
            display: flex;
            flex-direction: column;
            gap: 10px;

            padding-bottom: 50px;

            p {
                font-weight: normal;
                color: $b3;
            }
        }
    }

    // 決策結果
    .resultbox {
        h5 {
            color: $b3;
            border-left-color: $y1;
        }

        p {
            color: $b3;
        }

        .outcome {
            border-top-left-radius: 0px;
        }

        .release-result,
        .history {
            margin-top: 50px;
            min-width: 400px;
            background: $b1-80;
            border-radius: 16px;
            padding: 40px;
        }

        .release-result {

            .btnTruth {
                margin-top: 20px;
                transition: all 0.35s ease;
                font-size: 1.25rem;
                border-radius: 8px;
                padding: 8px 16px;
            }
        }
    }

    // 最終結局
    .final-result {
        width: 60%;
        min-width: 400px;
        background: $b0-80;
        padding: 40px;
        border-radius: 16px;
        margin-top: 50px;
    }

    // 重新選擇
    .again {
        margin-top: 30px;
    }
}


#box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: 30px auto 0;
    padding-bottom: 30px;
    min-width: 400px;
}