@use "../variables/color" as *;



// 網站基礎字體設定
h1 {
    font-size: 8rem; //唯一主標年分
}

h2 {
    font-size: 6rem;  //Card或Event大標
}

h3 {
    font-size: 4rem; //Card或Event大標
}

h4 {
    font-size: 2.5rem; //中標或問題
}

h5 {
    font-size: 1.25rem; //faq標題
}

p {
    font-size: 1rem;
    line-height: 150%;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}