@use "../variables/color" as *;

// 網站基礎字體設定
h1{
    font-size: 8rem;
}
h2{
    font-size: 6rem;
}
h3 {
    font-size: 4rem;
}
h4{
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
    line-height: 150%;
}
