$y1: #FFD600;
$y2: #FFEF9E;
$p1:#7B61FF;
$b1:#323232;
$b2: #E2D6C3;
$b3: #F4F5EF;

$y1-80: rgb(255, 214, 0, 0.8);
$y2-80:rgba(255, 239, 158, 0.8);
$p1-80:rgba(123, 97, 255, 0.8);

$b0-80: rgba(0, 0, 0, 0.8);
$b1-80:rgba(50, 50, 50, 0.8);
$b2-80: rgba(226, 214, 195, 0.8);
$b3-80: rgba(244, 245, 239, 0.8);
